body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    height: 100vh; 
    background-color: white;
}

body div {
    width: 800px;
    height: 75px;
    flex-shrink: 0;
    background-color: #0A599D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
}

body div h1 {
    color: whitesmoke;
    text-align: center;
    font-family:sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    padding: 15px;
}
.rectangle {
    width: 500px;
    height: 180px;
    background-color: #E2F1FD; 
    position: absolute;
    top: calc(15% + 110px); 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

body img {
    width: 250px;
    flex-shrink: 0;
    position: absolute;
    top: calc(15% + 300px); 
    left: 50%;
    transform: translateX(-50%);
}
body button{
    background-color: #0A599D;  
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    position: absolute;
    top: calc(15% + 525px);
    left: 50%;
    transform: translateX(-50%);
    border: none;
    cursor: pointer;

}
body button a{
    color: whitesmoke;
    text-decoration: none;
    font-family:sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    padding: 15px;
}
body button:hover{
    background-color: #E2F1FD;
    border:2px solid #0A599D;
}
body button:hover a{
    color: #0A599D;
}