/* Styling for the header */
#passwordTop {
    text-align: center;
    padding: 20px;
}
#passwordTop img {
    width: 200px;
}

/* Main form styling */
#ForgotPassword {
    width: 500px;
    height: 100%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #E2F1FD;
}

.findUsernamediv {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 150px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.resetPasswordform {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resetPasswordform div {
    margin-bottom: 15px;
}

/**************************** TextFields ************************************/
#passwordUsername {
    display: grid;
    align-items: center;
    width: 70%;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#firstAnswerField,
#secondAnswerField {
    display: grid;
    align-items: center;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#ResetPasswordLabelField,
#ConfirmPasswordLabelField {
    /* display: grid;
    align-items: center; */
    width: 350PX;
    height: 35px;
    padding: 10px;
    margin-left: 75px ;
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
/* #ConfirmPasswordLabelField{
    display: grid;
    align-items: center;
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

} */

/**************************** Labels ************************************/
.passwordUsernameLabel,
.firstQuestionLabel,
.secondQuestionLabel {
    font-size: 18px;
    color: #0A599D;
    font-weight: bold;
    display: block;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 3px;
}
.ResetPasswordLabel,
.ConfirmPasswordLabel{
    font-size: 18px;
    color: #0A599D;
    font-weight: bold;
    display: block;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 3px;
}


/**************************** Button ************************************/
#resetPassword {
    border-radius: 30px;
    background-color: #0A599D;
    width: 40%;
    height: 40px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#resetPassword:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#findUsername {
    border-radius: 30px;
    background-color: #0A599D;
    width: 40%;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    cursor: pointer;
    color: whitesmoke;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#findUsername:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Container for the password and verify passwords TextFields */
.password-container {
    display: flex;
    width: 500px;
    height: 45px;
    /* background-color: red; */

}

/* This is the lock Icon */
.toggle-password {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 20px;
}


/* The following help to keep the footer at the bottom when first seeing the screen */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    min-height: 75%;
    display: flex;
    flex-direction: column;
}

